<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans 
                             http://www.springframework.org/schema/beans/spring-beans.xsd
                             http://www.springframework.org/schema/security
                             http://www.springframework.org/schema/security/spring-security.xsd">
    
    <b:bean id="sogpDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <b:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <b:property name="url" value="jdbc:mysql://localhost:3307/sogpdbfinal" />
        <b:property name="username" value="sogp" />
        <b:property name="password" value="sogp12345" />
    </b:bean>

    
    <b:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <b:constructor-arg>
            <b:bean class="org.springframework.security.web.access.expression.WebExpressionVoter">
                <b:property name="expressionHandler" ref="webExpressionHandler" />
            </b:bean>
        </b:constructor-arg>
    </b:bean>

    <b:bean id="webExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler">
        <b:property name="roleHierarchy" ref="roleHierarchy"/>
    </b:bean>

    <b:bean id="roleHierarchy" class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
        <b:property name="hierarchy">
            <b:value>
                ROLE_ADMIN > ROLE_USER
            </b:value>
        </b:property>
    </b:bean>
  
    <http pattern="/zkau/**" security="none"/>

    <http auto-config="true" access-decision-manager-ref="accessDecisionManager">
        <form-login login-page="/index.zul"
                    default-target-url="/secured/home.zul"/>

        <access-denied-handler error-page="/denied.zul" />
        
        <intercept-url pattern="/index.zul" access="permitAll" />
        <intercept-url pattern="/secured/home.zul" access="hasRole('USER')" />
        <intercept-url pattern="/secured/admin.zul" access="hasRole('ADMIN')" />
        <intercept-url pattern="/secured/**" access="isAuthenticated()" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="md5" />
            <jdbc-user-service data-source-ref="sogpDataSource" 
                               users-by-username-query="SELECT login AS username, senha AS password, 'true' as enabled FROM pessoa WHERE login = ?"
                               authorities-by-username-query="SELECT login AS username, permissao AS authority FROM pessoa WHERE login = ?" />
        </authentication-provider>
    </authentication-manager>
</b:beans>