.box-center {
    width: 500px;
    margin: 12em auto;
    padding: 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.box-right-align {
    margin-left: 2em;
}

hgroup { 
    text-align: left;
    margin-top: 0em;
}

h1, h3 { font-weight: 300; }

h1 { color: #4a89dc; }

h3 { color: #636363;}

p {
    margin: 0em;
}

.box-center img {
    margin-top: 0.7em;
}

@media screen and (max-width : 580px) 
{
    body
    {
        overflow: hidden;
    }
    
    .box-center
    {
        width: 22em;
        margin: 7.5em auto !important;
    }

    .box-center img {
        width: 0px;
        visibility: hidden;
    }
}

@media screen and (max-width : 780px) 
{
    .box-center 
    {
        margin: 1em auto;
    }
}